<h1> Welcome Trainer! </h1>

<h2> You are on the right path</h2>

<h2> Please sign up below to start your jounrey</h2>
<label for="usersname">Username</label>
<form action="/signup"method="POST"></form>
<input type="text" name="username" id="username"> <br>

<label for="usersname">Password</label>
<form action="/signup"method="POST"></form>
<input type="text" name="password" id="password"> <br>
